<h1>Editing students book</h1>

<%= render "form", students_book: @students_book %>

<br>

<div>
  <%= link_to "Show this students book", @students_book %> |
  <%= link_to "Back to students books", students_books_path %>
</div>
